
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Bem vindo de Volta!</h2>
                <p class="description description-primary">Não tem conta?</p>
                <p class="description description-primary">Se cadastre agora</p>
                <a href="/cadastro"><button id="signin" class="btn btn-primary">Cadastrar</button></a>
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Nearpoint</h2>
                <form class="form">
                    
                    <label class="label-input">
                        <input type="email" placeholder="Email" required>
                    </label>
                    
                    <label class="label-input">
                        <input type="password" placeholder="Senha" minlength="6" required>
                    </label>
                    
                    
                    <button class="btn btn-second">Entrar</button>        
                </form>
            </div><!-- second column -->
        </div><!-- first content -->
        </div>